.project-card-1 {
  background: radial-gradient(
    circle,
    rgba(227, 63, 251, 1) 28%,
    rgba(252, 70, 107, 1) 100%
  );
  padding-top: 50px;
  margin-bottom: 50px;
}

.project-card-content {
  padding: 50px;
}

@media (max-width: 768px) {
  .project-card-content {
    padding: 5px;
  }
}

.project-card-content h1 {
  font-size: 5em;
  color: white;
  font-weight: bold;
}
@media (max-width: 768px) {
  .project-card-content h1 {
    font-size: 3em;
    color: white;
    font-weight: bold;
  }
}

.project-card-content h3 {
  font-size: 3em;
  color: white;
  font-weight: 400;
}

.project-card-img img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .project-card-img img {
    max-width: 78%;
  }
}

.project-card-img {
  width: 500px;
  height: 500px;
}

@media (max-width: 768px) {
  .project-card-img {
    width: 400px;
    height: 400px;
  }
}
