.project-section-title {
  text-align: center;
  font-size: 5em;
  padding-top: 50px;
}

@media screen and (max-width: 768px) {
  .project-section-title {
    text-align: center;
    font-size: 3em;
    padding-top: 10px;
  }
}
